<article class="ui segment">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        {{#each employees}}
            {{#dataValues}}
                <tr>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{company}}</td>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
            {{/dataValues}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</article>